/* src/theme-override.scss */

.mx_LeftPanel .mx_SpacePanel,
.mx_RoomList,
.mx_SpacePanel_toggle,
.mx_SpacePanel_badge,
.mx_RoomSubList,
.mx_RoomListWrapper {
  display: none !important;
}

.mx_LeftPanel {
  width: 72px !important;
}

.mx_MainSplit {
  margin-left: 72px !important;
}
